/* Mobile */

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: white;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.banner {
  color: white;
  width: 100%;
  margin: 1rem, 1rem;
  padding: 1rem, 1rem;
}

.welcome-wrapper {
  background-image: url("https://www.topnation.ca/storage/app/media/SERVICES/PAGE/world%20travel.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 90%;
}

.login-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 30%
}

.input-area {
  width: 100%;
  align-items: center;
  align-content: center;
  
}

.input-field {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-bottom: 1em;
  width: 300px;
  height: 50px;
  padding-left: 1em;
  font-size: larger;
  color:rgb(192, 219, 219);
}

#banner-title {
  font-size: 50px;
  margin: 1rem;
}

#banner-tagline {
  margin: 1rem;
}

.login-buttons {
  margin-top: 0;
  display: flex;
  flex-direction: row;

}

.action-button {
  width: 100px;
  height: 50px;
  margin-top: 0;
  margin: 1rem;
  background-color: rgb(222, 228, 51);
  border-style: none;
  border-radius: 10pc;
}

.header {
  height: 40px;
  font-size: 30px;
  padding: 5px;
  margin: 0px;
}

/* Homepage Mobile*/

.header h1{
  position:fixed;
  right: 2%;
  width: 100%;
  text-align: right;
  margin: auto;
  background-color: rgb(2, 14, 25);
}

.home-wrapper {
  position: relative;
  overflow: scroll;
  background-color: rgb(2, 14, 25);
  height:100%;
  width: 100%;
  margin: auto;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0%;
  align-content: center;
  background-color: rgb(2, 14, 25);
}

.nav-bar .action-button {
  width: 90px;
}

.viewport {
  display: block;
}

.top-article {
  height: 80px;
  width: 98%;
  margin: auto;
  text-align: center;
  background-color: grey
}

.viewport ul {
  margin: 4px;
  padding: 0%
}

.article-card {
  list-style: none;
  margin: 4px;
}

a {
  text-decoration: none;
}

a .card-title {
  
  color: white;
}

.card-body {
  color: white;
}



/* Desktop */

@media (min-width: 600px) {

  body {
    margin: 0px;
    padding: 0px;
    height: 100%;
  }
  
  #root {
    height: 100%;
    padding: 0px;
    margin: 0px;
  }
  
  .App {
    height: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: rgb(2, 14, 25);
  }
  
  .banner {
    color: white;
    background-image: url("https://www.topnation.ca/storage/app/media/SERVICES/PAGE/world%20travel.jpg");
    background-size: cover;
    height: 100%;
    width: 50%;
    float: left;
    position: absolute;
    left:0%
  }
  
  .welcome-wrapper {
    background-image: none;
    height: 100%;
    
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 90%;
    column-span: 1;
    
  }
  
  .login-wrapper {
    width: 50%;
    float: right;
    position: absolute;
    right:0%;
    background-color: rgb(2, 14, 25);
    max-width: 100%;
  }

  
  .input-area {
    width: 100%;
    align-items: center;
    align-content: center;
    background-color: rgb(2, 14, 25);
  }
  
  .input-field {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-bottom: 1em;
    width: 300px;
    max-width: 90%;
    height: 50px;
    padding-left: 1em;
    font-size: larger;
    color:rgb(192, 219, 219);
  }
  
  #banner-title {
    font-size: 100px;
    margin: 1rem;
  }
  
  #banner-tagline {
    font-size: 50px;
    position:absolute;
    bottom: 22%;
    margin: 1rem;
  }
  
  .login-buttons {
    margin-top: 0;
    display: flex;
    flex-direction: row;
  
  }
  
  .action-button {
    width: 100px;
    height: 50px;
    margin-top: 0;
    margin: 1rem;
    background-color: rgb(222, 228, 51);
    border-style: none;
    border-radius: 10pc;
    color: black;
  }

  /* Homepage Desktop*/

  .header {
    height: 100px;
    font-size: 60px;
    padding: 5px;
    margin: 0px;

  }
  
  .header h1{
    position:fixed;
    right: 2%;
    width: 100%;
    text-align: right;
    background-color: rgb(2, 14, 25);
  }
  
  .home-wrapper {
    position: relative;
    overflow: scroll;
    background-color: rgb(2, 14, 25);
    height:100%;
    width: 100%;
    margin: auto;
  }
  
  .nav-bar {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0%;
    justify-content: center;
    align-content: center;
    background-color: rgb(2, 14, 25);
  }
  
  .nav-bar .action-button {
    width: 90px;
  }

  .nav-bar .button-spacer {
    width: 15%;
  }
  
  .viewport {
    display: flex;
  }
  
  .top-article {
    height: 90pc;
    width: 20%;
    margin: auto;
    text-align: center;
    background-color: grey;
    position: fixed;
  }
  
  .viewport ul {
    margin-top: 0;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position:fixed;
    right: 4px;
  }

  .viewport li {
    margin-top: 0
  }
  
  .article-card {
    list-style: none;
    margin: 4px;
    height: 240px;
  }
  
  a {
    text-decoration: none;
  }
  
  a .card-title {
    
    color: white;
  }
  
  .card-body {
    color: white;
  }

}